
.titulares{
	font-family: 'LatoHairline', sans-serif;
	font-size: 2.5em;
	line-height: 25pt;
	color: #1E1E1E;
}

.texto-corrido{
	font-family: 'LatoLight', sans-serif;
	font-size: 8.7pt;
	line-height: 16pt;
	color: #1E1E1E;


}
@media (min-width: @screen-sm-min) { ... }

.row-gris{
	display: block;
	background-color: #F6F6F6;
	padding-top: 25px;
    padding-bottom: 80px;

}
.row-blanca{
	display: block;
	background-color:#FFFFFF;
	padding-top: 25px;
    padding-bottom: 80px;
}


.row-nisa{
	display: block;
	background-image: url('../img/nisa.png');
	height: 25em;
	padding-top: 25px;
    padding-bottom: 80px;
}
ol.center { text-align: center; list-style-position:inside;}

.footer{
	display: block;
	background-color: #1E1E1E;
	color: #FFFFFF;
	padding-top: 25px;
    padding-bottom: 80px;

}
.texto-footer{
	font-family: 'LatoLight', sans-serif;
	font-size: 0.75em;
	line-height: normal;
}

@media(min-width: 768px){
	.text-sm-right{
		text-align: right;
	}
}
@media (max-width: 767px) {
    .text-sm-right, 
    .text-sm-left {
        text-align: center;
    } 
}

.boton-morado{

	background: transparent;
	color: #E5007E;
	border-color: #E5007E;
	border-width: 2px;
	font-family: 'LatoBold', sans-serif;


	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}
.boton-morado:focus{
	background: #E5007E;
	color: #FFFFFF;
	border-color: #E5007E;
}

.boton-morado:hover{
	background: #E5007E;
	color: #FFFFFF;
	border-color: #E5007E;
}

hr { 
    color: #FFFFFF;
}

@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato-Hairline.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}

	@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}