@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato-Hairline.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}

	@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}



nav.navbar.navbar-default {
	border-top: none;
	background-color: rgba(255,255,255,0.8);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C4C4C4;
}


.titulares{
	font-family: 'LatoHairline', sans-serif;
	font-size: 37px;
	line-height: 25pt;
	color: #1E1E1E;
	padding-bottom: 1px;
}


.texto-corrido{
	font-family: 'LatoLight', sans-serif;
	font-size: 13px;
	line-height:16px;
	color: #1E1E1E;
	vertical-align: middle;
	padding-bottom: 10px;
}

@media(min-width: 768px){
	.titulares{font-size: 55px;
				line-height: 35pt;
				padding-bottom: 17px;}
	.texto-corrido{font-size: 18px;
					line-height: 18pt}
}


nav.navbar.navbar-default {
	border-top: none;
	background-color: rgba(255,255,255,0.8) !important;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C4C4C4;
}

.row-gris{
	display: block;
	background-color: #F6F6F6;
	padding-top: 40px;
    padding-bottom: 80px;
    vertical-align: center;


}
.row-blanca{
	display: block;
	background-color:#FFFFFF;
	padding-top: 40px;
    padding-bottom: 55px;
    
   
}


.row-nisa{
	color: #FFFFFF ;
	display: block;
	background-image: url('../img/Muser-Nisa-2.jpg');
	height: 450px;
    padding-bottom: 90px;
    padding-top: 110px;
}

.row-nisa .titulares{
	color: #FFFFFF;
}

.row-nisa .texto-corrido{
	color: #FFFFFF;
}

ol.center { text-align: center; list-style-position:inside;}


@media(min-width:768px){
	.footer{padding-bottom: 40px !important;}}


.footer{
	display: block;
	background-color: #1E1E1E;
	color: #FFFFFF;
	padding-top: 25px;
    padding-bottom: 75px;

}




.texto-footer{
	font-family: 'LatoLight', sans-serif;
	font-size: 8.7px;
	line-height: normal;
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;

}
.texto-footer:focus{
	color: #E5007E;
}
.texto-footer:hover{
	color: #E5007E;
}

@media(min-width: 768px){
	.text-sm-right{
		text-align: right;
	}
}
@media (max-width: 767px) {
    .text-sm-right, 
    .text-sm-left {
        text-align: center;
    } 

}


.white-form{
	background: #FFFFFF;
	color: #C4C4C4;
	border: none;
	outline: none;
	margin-right: 5px;
	
}

.grey-form{
	margin-top: 20px;
	margin-bottom: 20px;
	display:inline-block;
	text-align: center;
	background:#F6F6F6;
	color: #C4C4C4;
	outline: none;
	width: 200px;
  	border: none !important;
 	 -webkit-box-shadow: none !important;
 	 -moz-box-shadow: none !important;
 	 box-shadow: none !important;

}
@media(min-width: 768px){
	.grey-form{width: 270px;}
}
.form-control::-webkit-input-placeholder { color: #C4C4C4; font-family:'LatoLight';font-size: 10pt;  }
.form-control:-moz-placeholder { color: #C4C4C4;font-family:'LatoLight'; font-size: 10pt;}
.form-control::-moz-placeholder { color: #C4C4C4; font-family:'LatoLight'; font-size: 10pt;}
.form-control:-ms-input-placeholder { color: #C4C4C4;font-family:'LatoLight'; font-size: 10pt;}

.boton-morado{

	background: transparent;
	color: #E5007E;
	border-color: #E5007E;
	border-width: 2px;
	font-family: 'LatoBold', sans-serif;
	font-size: 8pt;
/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.boton-morado:focus{
	background: #E5007E;
	color: #FFFFFF;
	border-color: #E5007E;

}

.boton-morado:hover{
	background: #E5007E;
	color: #FFFFFF;
	border-color: #E5007E;

}
ul
{
    list-style-type: none;
    padding:0;
     margin:0;
}

hr { 
    color: #FFFFFF;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}





@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato-Hairline.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}		

.modal-dialog-fullscreen {
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	opacity:.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}

.modal-content-fullscreen {
	background: rgb(255,255,255,0.8);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0;
	box-shadow: none;
}

.modal-dialog-manifiesto {
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

.modal-content-manifiesto {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0;
	box-shadow: none;
}
			
.modal-dialog-avisolegal {
	position: fixed;
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

.modal-content-avisolegal {
	background-color: lightblue;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0;
	box-shadow: none;
	overflow:scroll;
}
			
.vertical-center{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 30%;
	margin: auto;
}

.titular-manifiesto:hover{
	font-family: 'LatoBold', sans-serif;
	color: #E5007E;
	text-decoration:none;   
}

.titular-manifiesto{
	font-family: 'LatoLight', sans-serif;
	font-size: 20px;
	line-height:20px;
	color: #1E1E1E;
	vertical-align: middle;
	padding-bottom: 10px;
}

.texto-manifiesto{
	font-family: 'LatoLight', sans-serif;
	font-size: 18px;
	line-height:25px;
	color: grey;
	vertical-align: middle;
	padding-top: 8px;
	padding-bottom: 15px;
}